# BigMac Prices over the year
### see how external forces effected the price of the BigMac, use as a directional factor for food price inflation

- price of beef
- price of wheat (bread for buns)
- price of condiments

- use bigmac prices in comparison to inflation in respective countries - is it a good signifying factor
- are some countries more resilient to raise in food prices
- are higher inflation in some countries effecting the rise in food of other countries

In [4]:
import pandas as pd
import numpy as np

In [8]:
bmprice = pd.read_csv('BigmacPrice.csv')

In [106]:
bmprice.head(60)

,date,currency_code,name,local_price,dollar_ex,dollar_price
0,2000-04-01,ARS,Argentina,2.50,1.000000,2.500000
1,2000-04-01,AUD,Australia,2.59,1.680000,1.541667
2,2000-04-01,BRL,Brazil,2.95,1.790000,1.648045
3,2000-04-01,CAD,Canada,2.85,1.470000,1.938776
4,2000-04-01,CHF,Switzerland,5.90,1.700000,3.470588
5,2000-04-01,CLP,Chile,1260.00,514.000000,2.451362
6,2000-04-01,CNY,China,9.90,8.280000,1.195652
7,2000-04-01,CZK,Czech Republic,54.37,39.100000,1.390537
8,2000-04-01,DKK,Denmark,24.75,8.040000,3.078358
9,2000-04-01,EUR,Euro area,2.56,1.075269,2.380800
10,2000-04-01,GBP,Britain,1.90,0.632911,3.002000
11,2000-04-01,HKD,Hong Kong,10.20,7.790000,1.309371
12,2000-04-01,HUF,Hungary,339.00,279.000000,1.215054
13,2000-04-01,IDR,Indonesia,14500.00,7945.000000,1.825047
14,2000-04-01,ILS,Israel,14.50,4.050000,3.580247
15,2000-04-01,JPY,Japan,294.00,106.000000,2.773585
16,2000-04-01,KRW,South Korea,3000.00,1108.000000,2.707581
17,2000-04-01,MXN,Mexico,20.90,9.410000,2.221041
18,2000-04-01,MYR,Malaysia,4.52,3.800000,1.189474
19,2000-04-01,NZD,New Zealand,3.40,2.010000,1.691542
20,2000-04-01,PLN,Poland,5.50,4.300000,1.279070
21,2000-04-01,RUB,Russia,39.50,28.500000,1.385965
22,2000-04-01,SGD,Singapore,3.20,1.700000,1.882353
23,2000-04-01,SEK,Sweden,24.00,8.840000,2.714932
24,2000-04-01,THB,Thailand,55.00,38.000000,1.447368
25,2000-04-01,TWD,Taiwan,70.00,30.600000,2.287582
26,2000-04-01,USD,United States,2.51,1.000000,2.510000
27,2000-04-01,ZAR,South Africa,9.00,6.720000,1.339286
28,2001-04-01,ARS,Argentina,2.50,1.000000,2.500000
29,2001-04-01,AUD,Australia,3.00,1.980000,1.515152
30,2001-04-01,BRL,Brazil,3.60,2.190000,1.643836
31,2001-04-01,CAD,Canada,3.33,1.560000,2.134615
32,2001-04-01,CHF,Switzerland,6.30,1.730000,3.641618
33,2001-04-01,CLP,Chile,1260.00,601.000000,2.096506
34,2001-04-01,CNY,China,9.90,8.280000,1.195652
35,2001-04-01,CZK,Czech Republic,56.00,39.000000,1.435897
36,2001-04-01,DKK,Denmark,24.75,8.460000,2.925532
37,2001-04-01,EUR,Euro area,2.57,1.136364,2.261600
38,2001-04-01,GBP,Britain,1.99,0.699301,2.845700
39,2001-04-01,HKD,Hong Kong,10.70,7.800000,1.371795
40,2001-04-01,HUF,Hungary,399.00,303.000000,1.316832
41,2001-04-01,IDR,Indonesia,14700.00,10855.000000,1.354215
42,2001-04-01,JPY,Japan,294.00,124.000000,2.370968
43,2001-04-01,KRW,South Korea,3000.00,1325.000000,2.264151
44,2001-04-01,MXN,Mexico,21.90,9.290000,2.357374
45,2001-04-01,MYR,Malaysia,4.52,3.800000,1.189474
46,2001-04-01,NZD,New Zealand,3.60,2.470000,1.457490
47,2001-04-01,PHP,Philippines,59.00,50.300000,1.172962
48,2001-04-01,PLN,Poland,5.90,4.030000,1.464020
49,2001-04-01,RUB,Russia,35.00,28.900000,1.211073
50,2001-04-01,SGD,Singapore,3.30,1.810000,1.823204
51,2001-04-01,SEK,Sweden,24.00,10.280000,2.334630
52,2001-04-01,THB,Thailand,55.00,45.500000,1.208791
53,2001-04-01,TWD,Taiwan,70.00,32.900000,2.127660
54,2001-04-01,USD,United States,2.54,1.000000,2.540000
55,2001-04-01,ZAR,South Africa,9.70,8.130000,1.193112
56,2002-04-01,ARS,Argentina,2.50,3.130000,0.798722
57,2002-04-01,AUD,Australia,3.00,1.860000,1.612903
58,2002-04-01,BRL,Brazil,3.60,2.340000,1.538462
59,2002-04-01,CAD,Canada,3.33,1.570000,2.121019

In [9]:
len(bmprice)

1330

In [11]:
bmprice.dtypes

date              object
currency_code     object
name              object
local_price      float64
dollar_ex        float64
dollar_price     float64
dtype: object

In [12]:
currency = pd.unique(bmprice['currency_code'].values.ravel())

In [15]:
currency

array(['ARS', 'AUD', 'BRL', 'CAD', 'CHF', 'CLP', 'CNY', 'CZK', 'DKK',
       'EUR', 'GBP', 'HKD', 'HUF', 'IDR', 'ILS', 'JPY', 'KRW', 'MXN',
       'MYR', 'NZD', 'PLN', 'RUB', 'SGD', 'SEK', 'THB', 'TWD', 'USD',
       'ZAR', 'PHP', 'NOK', 'PEN', 'TRY', 'EGP', 'COP', 'CRC', 'LKR',
       'PKR', 'SAR', 'UAH', 'UYU', 'AED', 'INR', 'VND', 'AZN', 'BHD',
       'GTQ', 'HNL', 'HRK', 'JOD', 'KWD', 'LBP', 'MDL', 'NIO', 'OMR',
       'QAR', 'RON'], dtype=object)

In [17]:
len(currency)

56

In [18]:
country = pd.unique(bmprice['name'].values.ravel())

In [20]:
country

array(['Argentina', 'Australia', 'Brazil', 'Canada', 'Switzerland',
       'Chile', 'China', 'Czech Republic', 'Denmark', 'Euro area',
       'Britain', 'Hong Kong', 'Hungary', 'Indonesia', 'Israel', 'Japan',
       'South Korea', 'Mexico', 'Malaysia', 'New Zealand', 'Poland',
       'Russia', 'Singapore', 'Sweden', 'Thailand', 'Taiwan',
       'United States', 'South Africa', 'Philippines', 'Norway', 'Peru',
       'Turkey', 'Egypt', 'Colombia', 'Costa Rica', 'Sri Lanka',
       'Pakistan', 'Saudi Arabia', 'Ukraine', 'Uruguay', 'UAE', 'India',
       'Vietnam', 'United Arab Emirates', 'Azerbaijan', 'Bahrain',
       'Guatemala', 'Honduras', 'Croatia', 'Jordan', 'Kuwait', 'Lebanon',
       'Moldova', 'Nicaragua', 'Oman', 'Qatar', 'Romania'], dtype=object)

In [21]:
len(country)

57

In [88]:
occur = bmprice.groupby(['currency_code']).size()
occur = occur.sort_values()

In [89]:
len(occur)

56

In [90]:
occur.head(56)

currency_code
GTQ     4
OMR     4
MDL     4
AZN     4
BHD     4
LBP     4
KWD     4
JOD     4
HRK     4
HNL     4
QAR     4
NIO     4
RON     4
VND    12
INR    18
ILS    23
AED    26
CRC    26
SAR    27
UYU    27
PKR    27
COP    27
LKR    27
UAH    27
NOK    28
PEN    29
EGP    29
TRY    30
PHP    31
TWD    32
THB    32
SGD    32
USD    32
PLN    32
SEK    32
RUB    32
KRW    32
MYR    32
ARS    32
AUD    32
BRL    32
CAD    32
CHF    32
CLP    32
CNY    32
NZD    32
CZK    32
EUR    32
GBP    32
HKD    32
HUF    32
IDR    32
JPY    32
MXN    32
DKK    32
ZAR    32
dtype: int64

In [91]:
remove_currency = occur.drop(occur.index[16:])

In [92]:
remove_currency

currency_code
GTQ     4
OMR     4
MDL     4
AZN     4
BHD     4
LBP     4
KWD     4
JOD     4
HRK     4
HNL     4
QAR     4
NIO     4
RON     4
VND    12
INR    18
ILS    23
dtype: int64

In [94]:
len(remove_currency)

16

In [102]:
prices = pd.unique(bmprice['dollar_price'].values.ravel())

In [108]:
remove = ['GTQ', 'OMR', 'MDL', 'AZN', 'BHD', 'LBP', 'KWD', 'JOD', 'HRK', 'HNL', 'QAR', 
          'NIO', 'RON', 'VND', 'INR', 'ILS']