# BigMac Prices over the year
### see how external forces effected the price of the BigMac, use as a directional factor for food price inflation

- price of beef
- price of wheat (bread for buns)
- price of condiments

- use bigmac prices in comparison to inflation in respective countries - is it a good signifying factor
- are some countries more resilient to raise in food prices
- are higher inflation in some countries effecting the rise in food of other countries

In [4]:
import pandas as pd
import numpy as np

In [8]:
bmprice = pd.read_csv('BigmacPrice.csv')

In [22]:
bmprice.head()

         date currency_code         name  local_price  dollar_ex  dollar_price
0  2000-04-01           ARS    Argentina         2.50       1.00      2.500000
1  2000-04-01           AUD    Australia         2.59       1.68      1.541667
2  2000-04-01           BRL       Brazil         2.95       1.79      1.648045
3  2000-04-01           CAD       Canada         2.85       1.47      1.938776
4  2000-04-01           CHF  Switzerland         5.90       1.70      3.470588

In [9]:
len(bmprice)

1330

In [11]:
bmprice.dtypes

date              object
currency_code     object
name              object
local_price      float64
dollar_ex        float64
dollar_price     float64
dtype: object

In [12]:
currency = pd.unique(bmprice['currency_code'].values.ravel())

In [15]:
currency

array(['ARS', 'AUD', 'BRL', 'CAD', 'CHF', 'CLP', 'CNY', 'CZK', 'DKK',
       'EUR', 'GBP', 'HKD', 'HUF', 'IDR', 'ILS', 'JPY', 'KRW', 'MXN',
       'MYR', 'NZD', 'PLN', 'RUB', 'SGD', 'SEK', 'THB', 'TWD', 'USD',
       'ZAR', 'PHP', 'NOK', 'PEN', 'TRY', 'EGP', 'COP', 'CRC', 'LKR',
       'PKR', 'SAR', 'UAH', 'UYU', 'AED', 'INR', 'VND', 'AZN', 'BHD',
       'GTQ', 'HNL', 'HRK', 'JOD', 'KWD', 'LBP', 'MDL', 'NIO', 'OMR',
       'QAR', 'RON'], dtype=object)

In [17]:
len(currency)

56

In [18]:
country = pd.unique(bmprice['name'].values.ravel())

In [20]:
country

array(['Argentina', 'Australia', 'Brazil', 'Canada', 'Switzerland',
       'Chile', 'China', 'Czech Republic', 'Denmark', 'Euro area',
       'Britain', 'Hong Kong', 'Hungary', 'Indonesia', 'Israel', 'Japan',
       'South Korea', 'Mexico', 'Malaysia', 'New Zealand', 'Poland',
       'Russia', 'Singapore', 'Sweden', 'Thailand', 'Taiwan',
       'United States', 'South Africa', 'Philippines', 'Norway', 'Peru',
       'Turkey', 'Egypt', 'Colombia', 'Costa Rica', 'Sri Lanka',
       'Pakistan', 'Saudi Arabia', 'Ukraine', 'Uruguay', 'UAE', 'India',
       'Vietnam', 'United Arab Emirates', 'Azerbaijan', 'Bahrain',
       'Guatemala', 'Honduras', 'Croatia', 'Jordan', 'Kuwait', 'Lebanon',
       'Moldova', 'Nicaragua', 'Oman', 'Qatar', 'Romania'], dtype=object)

In [21]:
len(country)

57

In [33]:
[].isna().sum()

0

In [88]:
occur = bmprice.groupby(['currency_code']).size()
occur = occur.sort_values()

In [89]:
len(occur)

56

In [90]:
occur.head(56)

currency_code
GTQ     4
OMR     4
MDL     4
AZN     4
BHD     4
LBP     4
KWD     4
JOD     4
HRK     4
HNL     4
QAR     4
NIO     4
RON     4
VND    12
INR    18
ILS    23
AED    26
CRC    26
SAR    27
UYU    27
PKR    27
COP    27
LKR    27
UAH    27
NOK    28
PEN    29
EGP    29
TRY    30
PHP    31
TWD    32
THB    32
SGD    32
USD    32
PLN    32
SEK    32
RUB    32
KRW    32
MYR    32
ARS    32
AUD    32
BRL    32
CAD    32
CHF    32
CLP    32
CNY    32
NZD    32
CZK    32
EUR    32
GBP    32
HKD    32
HUF    32
IDR    32
JPY    32
MXN    32
DKK    32
ZAR    32
dtype: int64

In [91]:
remove_currency = occur.drop(occur.index[16:])

In [92]:
remove_currency

currency_code
GTQ     4
OMR     4
MDL     4
AZN     4
BHD     4
LBP     4
KWD     4
JOD     4
HRK     4
HNL     4
QAR     4
NIO     4
RON     4
VND    12
INR    18
ILS    23
dtype: int64

In [94]:
len(remove_currency)

16